/* ## Column Classes
--------------------------------------------- */


/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
    float: left;
    margin-left: $column-margin-left;
}

.one-half,
.three-sixths,
.two-fourths {
    width: $one-half-column;
}

.one-third,
.two-sixths {
    width: $one-third-column;
}

.four-sixths,
.two-thirds {
    width: $two-thirds-column;
}

.one-fourth {
    width: $one-fourth-column;
}

.three-fourths {
    width: $three-fourths-column;
}

.one-sixth {
    width: $one-sixth-column;
}

.five-sixths {
    width: $five-sixths-column;
}

.first {
    clear: both;
    margin-left: 0;
}