//
// Site Title
//========================
.site-title {
    font-family: $font-family--roboto-condensed;
    @include font-size($site-title--font-size);
    line-height: 1.2;
    text-transform: uppercase;
    a,
    a:hover,
    a:focus {
        color: $site-title--link-color;
        text-decoration: none;
    }
    a span {
        font-family: "EB Garamond", Georgia, serif;
        color: #333;
        text-transform: lowercase;
        font-weight: 500;
        font-style: italic;
        @include font-size(30px);
    }
}