//
// Main entry article
//==============================
.entry {
    .single-a_z_style_guide & {
        padding: 0;
    }
    margin-bottom: 40px;
    padding: 15px 0;
    a {
        color: $ucsc--light-blue;
        &:hover,
        &:focus {
            color: $ucsc--light-blue;
            border-bottom: 2px solid $ucsc--light-blue;
        }
        &:visited {
            color: $ucsc--primary-blue;
        }
    }
    @include media-query($breakpoint__screen-size--small) {
        //padding: 30px;
        margin-bottom: 5%;
    }
}