blockquote {
    margin: 0;
    padding: 16px 48px 8px 32px;
    background-color: $gray--lighter;
    border-left: 16px solid $gray--lightest;
    &::before {
        content: "\201C";
        display: block;
        @include rem( font-size, $blockquote--font-size);
        height: 0;
        left: -26px; //-20px;
        position: relative;
        top: -21px; //-10px;
        color: $ucsc--magenta;
    }
}