ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.sidebar-list {
    margin-left: 0px!important;
    width: 100%;
    li {
        list-style-type: none!important;
        padding: 0 0 0 20px;
        position: relative;
        &:before {
            content: '\f138';
            font-family: 'FontAwesome';
            position: absolute;
            left: 0px;
            top: 3px;
            width: 14px;
            height: 14px;
            @include rem( font-size, $widget--font-size);
            color: $ucsc--blue-green;
            background: $white;
        }
    }
}

.social-media-list {
    margin-left: 0!important;
    li {
        list-style-type: none!important;
        float: left;
        a {
            display: block;
            text-align: center;
            padding: 0 5px;
            text-decoration: none;
            border-bottom: none;
            &:hover,
            &:visited {
                border-bottom: none;
            }
        }
    }
}

.fa-ul li {
    list-style-type: none!important;
}

.fa-file-word-o {
    color: $ucsc--blue-green;
}

.fa-certificate {
    color: $ucsc--orange;
}