/* ## Site Custom
--------------------------------------------- */

.clear {
    clear: both;
}

.color-swatch {
    width: 175px;
    height: 175px;
}

.primary-blue {
    background-color: $ucsc--primary-blue;
}

.primary-yellow {
    background-color: $ucsc--primary-yellow;
}