/* ## Home Entry Content
--------------------------------------------- */

.home .content {
    section {
        padding: 50px 0;
        &.home-page-intro {
            margin-top: 50px;
            text-align: center;
        }
    }
    .home-page-intro p {
        margin: 0 auto;
        font-weight: 300;
    }
}

// section {
//     padding: 50px 0;
// }