//
// Entry Title
//======================
.entry-title {
    @include rem( font-size, $entry-title--font-size);
    margin-bottom: 0;
    .page-title & {
        color: $white;
        font-weight: 400;
    }
    a {
        color: $entry-title--link-color;
        text-decoration: none;
        &:hover,
        &:focus {
            color: $entry-title--hover-color;
        }
    }
}