//
// Entry Title
//======================
.entry-title {
    @include rem( font-size, $entry-title--font-size);
    margin-bottom: 0;
    font-family: $font-family--eb-garamond;
    .page-title & {
        font-family: $base--font-family;
        color: $white;
        font-weight: 400;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    }
    a {
        color: $entry-title--link-color;
        text-decoration: none;
        &:hover,
        &:focus {
            color: $entry-title--hover-color;
        }
    }
}