/* # Site Footer
  ---------------------------------------------------------------------------------------------------- */

.site-footer {
    background-color: $site-footer--background-color;
    border-top: 1px solid $site-footer--border-color;
    @include rem(font-size, $site-footer--font-size);
    font-size: 1.6rem;
    line-height: 1;
    padding: 60px 0;
    text-align: center;
    p {
        margin-bottom: 0;
    }
}


/**
 * Footer Social
 *
 * @author Jason Chafin
 * 
 *
 */

.footer-social {
    width: 100%;
    display: inline-block;
    text-align: center;
    li {
        display: inline;
        padding: 0 10px 0 0 !important;
        &:last-child {
            padding: 0;
        }
        a:hover {
            color: #00458c
        }
    }
}