//
// Site Title
//========================
.site-title {
    font-family: $font-family--roboto-condensed;
    @include rem( font-size, $site-title--font-size);
    line-height: 1.2;
    text-transform: uppercase;
    a,
    a:hover,
    a:focus {
        color: $site-title--link-color;
        text-decoration: none;
    }
    a span {
        font-family: "EB Garamond", Georgia, serif;
        color: $black;
        text-transform: lowercase;
        font-weight: 500;
        @include rem( font-size, 30px);
    }
}