//
// Site Title
//========================
.site-title {
    font-family: $base--font-family;
    @include rem( font-size, $site-title--font-size);
    font-weight: 400;
    line-height: 1.2;
    a,
    a:hover,
    a:focus {
        color: $site-title--link-color;
        text-decoration: none;
    }
}