//
// Site Header Base Style
//==============================
.site-header {
    background-color: $site-header--background-color;
    //margin-top: 57px;
    >.wrap {
        padding: 15px 0 0;
    }
    @include media($breakpoint__screen-size--medium) {
        //margin-top: 100px;
        .wrap {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}