/* ## Primary Navigation
--------------------------------------------- */

.page,
.single {
    #menu-item-1615 a {
        padding: 20px 20px 20px 0;
    }
}

.nav-primary {
    background-color: $primary-nav--background-color;
    //@include box-shadow(0 5px 5px -5px rgba(0, 0, 0, .2));
    //box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .2);
    .hero-container & {
        background-color: none;
        color: $white;
    }
}

.navbar-collapse {
    width: auto;
    &.collapse {
        display: block;
        visibility: visible;
        height: auto;
        overflow: visible;
        @include media-query($breakpoint__screen-size--medium) {
            @include collapse;
        }
    }
}
