// Base Colors
//===================
$white: #fff;
$black: #222;
$gray--lightestest: #ccc;
$gray--lightest: #ddd;
$gray--lighter: #eee;
$gray--light: #777;
$gray: #555;
$red: #c3251d;
$ucsc--primary-blue: #003c6c;
$ucsc--primary-yellow: #fdc700;
$ucsc--light-blue: #006aad;
$ucsc--lighter-blue: #13a5dc;
$ucsc--orange: #f29813;
$ucsc--light-orange: #ffbf00;
$ucsc--green: #93c02d;
$ucsc--blue-green: #007988;
$ucsc--magenta: #da216d;
//
// Color Configuration
//===========================
$link--color: $ucsc--primary-blue;
$link--hover-color: $gray;
// Elements
$base--color: $black;
$body--background-color: $gray--lighter;
$hr--border-color: $gray--lighter;
// Form Elements
$input--background-color: $white;
$input--border-color: $ucsc--primary-blue;
$input--text-color: $gray;
$input--focus-border-color: $gray--lightest;
$button--text-color: $white;
$button--background-color: $ucsc--primary-blue;
$button--hover-text-color: $white;
$button--hover-background-color: $ucsc--light-blue;
$button--disabled-background-color: $gray--lighter;
$button--disabled-text-color: $gray--light;
// Image Elements
$gallery-image--border-color: $gray--lighter;
$gallery-image--hover-border-color: $gray--light;
// Accessibility
$skip-link--focus-text-color: $gray;
$skip-link--focus-outline-color: $gray;
//
// Header
//======================
$site-header--background-color: $white;
$site-title--link-color: $ucsc--light-blue;
//
// Navigation
//============================
$nav--link-color: $ucsc--primary-blue;
$nav--hover-color: $ucsc--light-blue;
$submenu--border-color: $gray--lighter;
$submenu--link-background-color: $white;
$submenu--link-hover-background-color: $ucsc--primary-blue;
$primary-nav--background-color: $white;
$primary-nav--border-color: $gray--lighter;
$primary-nav--link-color: $nav--link-color;
$secondary-nav--background-color: $white;
$secondary-nav--border-color: $gray--lighter;
$secondary-nav--link-color: $nav--link-color;
$mobile-nav--border-color: $gray--lighter;
$js-nav--background-color: $white;
$js-nav--hover-color: $ucsc--primary-blue;
$js-nav--focus-color: $ucsc--primary-blue;
$nav-toggle--background-color: $white;
$nav-toggle--text-color: $ucsc--primary-blue;
$archive-pagination--background-color: $ucsc--lighter-blue;
$archive-pagination--text-color: $white;
$archive-pagination--hover-background-color: $ucsc--green;
$archive-pagination--hover-text-color: $white;
//
// Footer
//============================
$site-footer--background-color: $ucsc--primary-blue;
$footer-widgets--background-color: $white;
$site-footer--border-color: $gray--lighter;
//
// Entry Content
//===================
$entry-footer__meta--border-color: $gray--lighter;
$entry--background-color: $white;
$entry-title--link-color: $gray;
$entry-title--hover-color: $red;
$entry-content--link-color: $gray;
$entry-content--hover-color: $red;
$entry-content__code--background-color: $gray--lighter;
$entry-content__code--color: $gray;
//
// Comments
//===================
$comment--background-color: $white;
//
// Widgets
//===================
$widget-title--link-color: $gray;
$widget--background-color: $white;
//
// Plugins
//===================
$enews--color: $white;
$enews--background-color: $gray;
$enews__input--border-color: $gray;
$enews__submit-button--background-color:$red;
$enews__submit-button--color: $white;
$enews__submit-button--background-hover-color:$enews__submit-button--color;
$enews__submit-button--hover-color: $enews__submit-button--background-color;
// General Components
$author-box--background-color: $white;
$breadcrumbs--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $gray--lightestest;