// Common Fonts
$font-family--eb-garamond: "EB Garamond",
Georgia,
serif;
$font-family--roboto: "Roboto",
sans-serif;
$font-family--roboto-condensed: "Roboto Condensed",
sans-serif;
// Base Typography 
$html--font-size: 62.5%;
$base--font-family: $font-family--roboto;
$base--font-size: 2.0;
$base--line-height: 1.4; //1.625;
$base--font-size--small-screen-width: 1.8;
$base__div--font-size: 1.6;
$base__div--font-size--small-screen-width: 1.8;
// Headings
$headings--font-family: $font-family--roboto;
$headings--line-height: 1.2;
$h1--font-size: 3.0;
$h2--font-size: 2.4;
$h3--font-size: 2.0;
$h4--font-size: 1.8;
$h5--font-size: 1.6;
$h6--font-size: 1.6;
$intro--font-size: $h3--font-size;
// Elements
$blockquote--font-size: 5.0;
// Form Elements
$input--font-size: 1.8;
$button--font-size: 1.6;
//
// Navigation
//===========
$nav--font-size: 1.6;
$submenu--font-size: 1.4;
$primary-nav--font-size: 1.4;
$top-nav--font-size: 1.5;
$archive-pagination--font-size: 1.6;
//
// Home Hero
//==================
$hero-site-title--font-size: 4.0;
//
// Header
//==================
$site-title--font-size: 3.6;
$site-title--line-height: 1.2;
$site-description--font-size: 1.6;
$site-description--line-height: 1.5;
//
// Footer
//==================
$site-footer--font-size: 1.6;
$footer-widgets--font-size: 1.8;
$footer-location--font-size: 1.52;
$footer-copyright--font-size: 1.28;
//
// Entry Content
//===================
$entry-meta--font-size: 16;
$entry-header__entry-meta--font-size: 1.6;
$entry-footer__entry-meta--font-size: 1.6;
$entry-title--font-size: 3.0;
//
// Comments
//===================
$comments--font-size: 1.6;
//
// Widgets
//===================
$widget--font-size: 1.6;
$widget-title--font-size: 1.8;
$featured-content__entry-title--font-size: 2.0;
//
// Plugins
//===================
$enews--font-size: 1.6;
//
// General Components
//===================
$archive-description--font-size: 1.8;
$archive-title--font-size: 3.6;
$breadcrumbs--font-size: 1.6;
$after-entry--font-size: 1.8;
$author-box--font-size: 1.8;
$author-box-title--font-size: 1.8;