/*Top Row*/

.page-top {
    background-color: $ucsc--dark-blue;
    position: fixed;
    text-align: initial;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    .admin-bar & {
        top: 32px;
    }
    .top-row {
        margin-top: 0;
        margin-bottom: 0;
        max-width: $max-width;
        margin: 0 auto;
        overflow: auto;
        @include media($breakpoint__screen-size--larger) {
            max-width: $max-width--larger-screen;
        }
        @include media($breakpoint__screen-size--large) {
            max-width: $max-width--large-screen;
        }
        @include media($breakpoint__screen-size--medium) {
            max-width: $max-width--medium-screen;
        }
    }
    .menu-top-row-menu-container {
        float: right;
        .menu {
            display: block;
            float: left;
            width: auto;
            margin-right: 0;
            font-size: $top-nav--font-size;
            li {
                display: inline-block;
                width: auto;
                background-image: none;
                line-height: 1.2em;
                margin: 7px 0 0 0;
                list-style-type: none;
                margin-left: 1.5em;
                position: relative;
                padding: 0;
                &:after {
                    background-color: #f1af13;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: -1em;
                    margin-left: -1.5px;
                    margin-top: -2.5px;
                }
                &:first-child {
                    margin-left: 0px;
                }
                &:first-child:after {
                    display: none;
                }
                a {
                    color: $white;
                }
            }
        }
    }
}

.top-row-left {
    padding: 15px 0;
    float: left;
    @include media($breakpoint__screen-size--medium) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}

.top-row-right {
    padding: 15px 0 0;
    float: right;
    @include media($breakpoint__screen-size--medium) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding: 0;
    }
}

.widget_search {
    display: block;
    margin-left: 20px;
    width: 250px;
    margin-bottom: 4px;
    &:last-child {
        margin-right: 0;
    }
    input {
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 160%;
        padding: 4px 8px;
        border: none;
    }
}

.search-form {
    position: relative;
    >input {
        padding-left: 40px;
    }
    input[type="submit"] {
        background: none !important;
        border: none;
        clip: inherit;
        color: #00458c;
        display: inline-block;
        content: "\f002";
        font: 28px/1 dashicons;
        height: 38px;
        padding: 0 10px 0 4px;
        position: absolute;
        left: 2px;
        top: 0px;
        vertical-align: top;
        width: 38px;
    }
}

.widget-area {
    margin-bottom: 15px;
    float: right;
    display: block;
}