.sidebar {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 40px;
    .widget {
        background-color: $white;
        //padding: 40px;
    }
}

.sidebar-spacer {
    padding-left: 40px;
    @include media-query($breakpoint__screen-size--medium) {
        padding-left: 0px;
    }
}

.sidebar-contact {
    font-family: $font-family--roboto-condensed;
}
