.page-title {
    padding: 47px 0 15px;
    @include media($breakpoint__screen-size--medium) {
        padding: 15px 0;
    }
    .page-title-container {
        border-bottom: 2px solid $ucsc--magenta;
    }
}

.entry-header {}