//
// Entry Title
//======================
.entry-title {
    @include font-size($entry-title--font-size);
    margin-bottom: 0;
    font-family: $font-family--eb-garamond;

    .page-title & {
        font-family: $base--font-family;
        color: $ucsc--primary-blue;
        font-weight: 400;

        span {
            background: $ucsc--primary-blue;
            color: $white;
            padding: 0 10px;
            @include box-shadow (inset 0px 0px 0px 2px $ucsc--magenta);
        }
    }

    a {
        color: $entry-title--link-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $entry-title--hover-color;
        }
    }
}
